
h1{
   text-align: center;
    font-size: 80px;
  color: rgb(1, 86, 1);
  
}

li{
    font-size: 20;
    color: rgb(19, 104, 2);
}

a{

    color: rgb(19, 104, 2);
}

p{
    font-size: 20;
    
}
p{
    text-align: center;
}

section{
    border: 3px solid black; /*ramka */
    margin: 10px 5px 10px 5px; /* vneshniy otstup */
    padding: 10px 5px 35px 5px ;/*vnutrenniy ostup */
    text-align: center;
}

.bg-color{
    background-color: blanchedalmond;
}

.g-color{
    background-color: rgb(224, 181, 126);
}

.x-color{background-color: rgb(218, 151, 64);

}

.p-color{
    font-size: 50;
    color: darkgreen;
}

.d-color{
    font-size: 50;
    color: darkgreen;
}

.g1-color{
    font-size: 50;
    color: darkgreen;
}

.g2-color{
    font-size: 50;
    color: darkgreen;
}

.x1-color{
    font-size: 50;
    color: darkgreen;
}

.x2-color{
    font-size: 50;
    color: darkgreen;
}