body{
    background-image: url('./IMG_9655.jpg')
    
}

#inputContainer{
    margin: 6px;
    
}

h1 {
    font-size: 50px;
    
}

#getWeatherButton {
 
    width: auto;
    
}

#WeatherContainer {
    color: rgb(161, 124, 0);
    font-size: 20px;
}

button {
    background-color: rgb(150, 137, 0)
}

p {
   font-style: oblique;
   
}